extends layout

block content
    form.form-group(method="POST", action="/toilets/edit/" + toilet._id)
        label Place: 
        input.form-control(type="text", name="place", value=toilet.place)
        br
        h3 Address: 
        br
        label Streetname: 
        input.form-control(type="text", name="street", value=toilet.address.street)
        label Number: 
        input.form-control(type="text", name="number", value=toilet.address.number)
        label Zipcode: 
        input.form-control(type="text", name="zipcode", value=toilet.address.zipcode)
        label City: 
        input.form-control(type="text", name="city", value=toilet.address.city)
        label Country: 
        input.form-control(type="text", name="country", value=toilet.address.country)
        br
        h3 Review
        label Image
        input(type="file", name="image", accept="image/*")
        input.btn.btn-info(type="Submit", value="Add Image")
        br
        input.btn.btn-primary(type="submit", value="Edit")