extends layout

block content
    h1= toilet.place
    div
        p= toilet.address.number + " " + toilet.address.street
        p= toilet.address.zipcode + " " + toilet.address.city
        p= toilet.address.country
        a.btn.btn-primary(href="/toilets/edit/" + toilet._id) Edit
        a.btn.btn-danger.delete-toilet(href="#", data-id=toilet._id) Delete
    
